body {
    display: flex;
    justify-content: center;
    
}

#card {
      display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    animation: flip 1s alternate infinite ease-in-out;
}

.face {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
}

@keyframes flip {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(20deg);
    }
}